<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
<bean id="label1" class="springConstructor.Products">  
<constructor-arg value="10" type="int"></constructor-arg>
<constructor-arg value="Earphones" type="String"></constructor-arg>
<constructor-arg value="50" type="float"></constructor-arg>  
</bean>  

<bean id="label2" class="springConstructor.Products">  
<constructor-arg value="11" type="int"></constructor-arg>
<constructor-arg value="Speakers" type="String"></constructor-arg>
<constructor-arg value="100.50" type="float"></constructor-arg>  
</bean>  
  
</beans>  